
body {
  font-family: 'Gloria Hallelujah', cursive;
  margin: 0;
  text-align: center;
}

header h1 {
  color: #000080;
  font-size: 48px;
  margin-top: 210px;
}

header h2 {
  color: #000080;
  font-size: 16px

}

nav a {
  text-decoration: none;
  color: white;
}

button {
  margin-bottom: 50px;
  border: 10px solid #fa8072;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 20px;
  padding: 16px;
  color: #fa8072;
  background-color: white;
  border-radius: 50px;
  margin-top: 40px;

}

nav ul li{
  text-decoration: none;
  display: inline-block;
  padding: 10px 60px 10px 60px;
  font-size: 16px;
  color: white;

}

nav {
  background-color: #fa8072;
  position: fixed;
  top: 30px;
  margin-top: 0px;
}

nav ul {
  margin: 0px;
}

.hoverPic {
  background-color: white;
  border: 25px solid white;
  width: 50%;
  height: 50%;
  border-radius: 150px;
}

.doNotHover {
  background-color: salmon;
  color: white;
}

.img {
  margin: 0px;
  border: 0px;
  padding: 0px;
}